/* @theme section_title */
/* h1 and h2 is setup */

section.section-title {
  --title-height: 100px;
  --subtitle-height: 50px;

  overflow: visible;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr var(--title-height) var(--subtitle-height) 1fr;
  grid-template-areas: "." "title" "subtitle" ".";
}

section.section-title h1,
section.section-title h2 {
  margin: 0;
  padding: 0;
  height: var(--area-height);
  line-height: var(--area-height);
  font-size: calc(var(--area-height) * 0.7);

  border-bottom: none;
}

section.section-title h1 {
  grid-area: title;
  --area-height: var(--title-height);
}

section.section-title h2 {
  grid-area: subtitle;
  --area-height: var(--subtitle-height);
}


